In [2]:
import pandas as pd

In [7]:
DATAPATH = r'../../data/raw/train.tsv'

In [9]:
df = pd.read_csv(DATAPATH, delimiter = '\t')
df.head()

                                            sentence  target
0  Dla mnie faworytem do tytułu będzie Cracovia. ...       0
1  @anonymized_account @anonymized_account Brawo ...       0
2  @anonymized_account @anonymized_account Super,...       0
3  @anonymized_account @anonymized_account Musi. ...       0
4    Odrzut natychmiastowy, kwaśna mina, mam problem       0